<div class="card mb-3" style="max-width: 540px; margin-left:auto; margin-right:auto; margin-top: 5%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/img/wilder-0453.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ allan.prenom }} {{ allan.nom }}</h5>
        <p class="card-text mb-1"><small class="text-muted">{{ allan.metier}}</small></p>
        <div style="margin-left: 7%;">
            <p class="card-text mb-0"> {{ allan.telephone }}</p>
            <p class="card-text mb-0">{{ allan.mail }}</p>
            <p class="card-text mb-1">{{ allan.localisation }}</p>
        </div>
        <a href="{{ path('app_a_propos')}}"><i class="bi bi-plus-square"></i> A propos de moi</a>
        </br>
        <button type="button" class="btn btn-primary" style="margin-top: 5%; margin-left: 25%;">Télecharger mon CV</button>
      </div>
    </div>
  </div>
</div>